body {
    height: 2000px;
}

form {
    margin: 20px;
}

label, input, select {
    display: block;
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #8f3971;
    color: white;
    text-align: left;
    padding: 15px;
    bottom: 10;

}

.container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.input-section {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 45%;
}

.input-section h2 {
    font-size: 1.5em;
}

.extrato-section {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 45%;
}

.extrato-section h2 {
    font-size: 1.5em;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 8px 12px;
    margin-top: 10px;
    cursor: pointer;
}

footer {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 5px;
    position: absolute;
    bottom: 5;
    width: 100%;
}

footer p {
    margin: 0;
}

/* Additional CSS styling can be added as per your preference. */
